.div_baitapnop_main{
    height: 500px;
   
    background: url('../../../assets/bg_quiz.png');
    background-size: cover;
    overflow: auto;
}

.div_baitapnop_main input[type='text'] {
    background-color: white;
}

.div_baitapnop_main .ant-form-item {
margin-bottom: 0;
}

.div_article_main{
    height: 500px;
   
    background: #f0f0f0;
    padding: 0 40px;
    overflow: auto;
}