
.question-main h1, .question-main h2, .question-main h3, .question-main h4, .question-main h5, .question-main h6{
    text-align: unset;
}

.question-main{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/bg_quiz.png');
    background-size: cover;
    
}
.question-main .div_quiz_header{
    background-color: #d7d8d8;
    width: 100%;
    height: 50px;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-main .div_question_action_number{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.question-main .question-action{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.question-main .question-number{
    width: 30%;
    font-size: 9pt;
}
.single-choose a, .enter-quiz a, .sorting-quiz a, .mutiple-choose a{
    color:#1890ff;
}
.question-main .single-choose .ant-radio-group{
    /* display: flex;
    flex-direction: column; */
}
.question-main .single-choose h6{
    font-weight: 600;
    margin-bottom: 1rem;
}
.question-main .single-choose .ant-radio-wrapper , .enter-quiz .enter-quiz-answer .ant-radio-wrapper{
    padding: 0.5rem 1rem;
    background: none;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    min-width: 300px;
    border:1px solid silver;
    border-radius: 10px;
    white-space:normal;
}

.question-main .mutiple-choose .ant-checkbox-group{
    /* display: flex;
    flex-direction: column; */
}
.question-main .mutiple-choose h6{
    font-weight: 600;
    margin-bottom: 1rem;
}
.question-main .mutiple-choose .ant-checkbox-wrapper{
    padding: 0.5rem 1rem;
    background: none;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    min-width: 300px;
    margin-left: 0;
    border:1px solid silver;
    border-radius: 10px;
}
.question-main .mutiple-choose .ant-checkbox-wrapper:hover, .question-main .single-choose .ant-radio-wrapper:hover,
 .enter-quiz .enter-quiz-answer .ant-radio-wrapper:hover {
    background: rgba(122, 122, 122, 0.3);
}
.div_quiz_slide{
    left:0;
    top:0;
	 transition-property: left;
  transition-duration: 0.5s;
  overflow: auto;

}
.question-main .sorting-quiz .drag-sortable{
    width: 98%;
    /* display: flex;
    flex-direction: column; */
}
.question-main .sorting-quiz h6{
    font-weight: 600;
    margin-bottom: 1rem;
}
.question-main .sorting-quiz .sorting-quiz-item{
    padding: 0.5rem 1rem;
    background: none;
    display: flex;
    align-items: center;
    min-width: 300px;
    margin-left: 0;
    border:1px solid silver;
    border-radius: 10px;
}

.question-main .sorting-quiz .sorting-quiz-item:hover{
    background: #fff;
}

.question-main .sorting-quiz .sortable-item{
    margin-top: 0.3rem;
}

.question-main .sorting-quiz .sortable-item.draging .sorting-quiz-item{
    background: #fff;
    transform: scale(1.1);
}

.question-main .sorting-quiz .sorting-quiz-item > span:first-child{
    margin-right: 0.5rem;
}


.question-main .enter-quiz span input{
    margin: 0 0.5rem;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999;
    text-align: center;
    color: #3f51b5;
    font-weight: 600;
}

.question-main .enter-quiz .enter-quiz-answer{
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; */
}


.question-main .div_quiz_ready{
    width: 100%;
    text-align: center;
}

.question-main .div_quiz_content, .question-main .div_quiz_done{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}