.examtest-mobile{
    padding: 0.5rem 0.25rem;
    background: #fff;
    width: 100vw;
    overflow-x: hidden;
}

.mobile-section{
    border-bottom: 1px solid #ddd;
    padding: 0 0.25rem;
}

.mobile-section .mobile-section-title{
    width: 100vw;
    margin-bottom: 0.5rem;
}

.mobile-section .mobile-section-title-text{
    width: 100vw;
    margin-bottom: 0.5rem;
}

.mobile-section .mobile-section-title-text h2{
    display: block;
    font-size: 1.35em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.mobile-section .mobile-section-desc{
    width: 100vw;
    margin-bottom: 0.5rem;
}

.mobile-section .mobile-section-image{
    width: 100vw;
    margin-bottom: 0.5rem;
}

.mobile-section .mobile-section-video{
    width: 100vw;
    margin-bottom: 0.5rem;
}

.mobile-section .mobile-section-youtube{
    width: 100vw;
    margin-bottom: 0.5rem;
}

.mobile-section .mobile-section-image{
    width: 100vw;
    margin-bottom: 0.5rem;
}

.exam-result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 17rem;
}

.exam-result-coin{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid #00c853;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    color: #dd2c00;
    font-size: 2rem;
}