.containerTracNhiem {
  position: relative;
}

.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.question-wrapper .mobile-question {
  max-width: 300px;
}

.question-wrapper .mobile-question-text,
.question-wrapper .mobile-question-desc,
.question-wrapper .mobile-option-item-text {
  font-size: 1.25rem;
}

.question-wrapper .question-time {
  position: absolute;
  left: 0;
  bottom: 49px;
  font-size: 0.9rem;
  color: #3a2aa5;
  padding: 0.25rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}