.bt-cuoi-khoa{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.bt-cuoi-khoa .bt-cuoi-khoa-wrapper{
    background: #fff;
    width: 80%;
    height: 90%;
}

.bt-cuoi-khoa .bt-cuoi-khoa-wrapper .bt-cuoi-khoa-header{
    height: 50px;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.bt-cuoi-khoa .bt-cuoi-khoa-wrapper .bt-cuoi-khoa-body{
    height: calc(100% - 100px);
}

.bt-cuoi-khoa .bt-cuoi-khoa-wrapper .bt-cuoi-khoa-footer{
    height: 50px;
    border-top: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
}

.bt-cuoi-khoa .question-main{
    height: 100%;
}