.top-industrious .card_theme{
    width: 100vw !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.top-industrious .card_theme p.text-color-title{
    display: none;
}

.top-industrious .card_theme > div > div:first-child{
    padding-top: 0 !important;
}

.top-industrious .card_theme > div > div:last-child{
    height: calc(100vh - 7rem) !important;
}