.course-image{
    background-repeat: no-repeat;
    background-size: auto;
    height: 400px;
    width: 100%;
}
.chuong-hoc-item > span{
    padding: 1rem;
    display: block;
    background: #f2f2f2;
    font-weight: 600;
}
.baihoc_div_right_list{
    background: #fff !important;
}
.baihoc_div_right_less_top{
    display: flex;
    justify-content: space-between;
}

.video-header{
    height: 58px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #999;
    padding: 0 1rem;
}
.video-header h6{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.video-header a{
    display: flex;
    border: 1px solid;
    margin-right: 1rem;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.video-header a:hover{
    background: #FF5733;
    border: 1px solid #FF5733;
}
.video-header a:hover i{
    color: #fff;
}

.baihoc_div_right_list{
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.baihoc_div_left_list{
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-cuoi-khoa{
    background: #D4E9EE;
    border: 0;
    width: 100%;
    padding: 1rem 1rem;
    text-transform: uppercase;
}