.dashdoardseries{
    padding: 0.25rem;
    border-bottom: 1px solid rgb(99 99 99 / 20%);
    background: transparent;
    margin-bottom: 0.5rem;
    box-shadow: 0px 5px 15px #fff;
}

.dashdoardseries-minus span{
    font-size: 0.75rem !important;
}