.video-bottom-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: #000;
}

.video-bottom-bar .video-button button{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 0.5rem;
}

.video-bottom-bar .video-button button.disabled{
    border: 1px solid #999;
    color: #999;
}

.video-bottom-bar .video-button button.disabled i{
    color: #999;
}

.video-bottom-bar .video-checkbox .ant-checkbox-wrapper > span{
    color: #fff;
}
.video_prev{
    z-index: 9999;
    position: absolute;
    top: 40% !important;
    height: 50px !important;
    background: rgba(41, 48, 59, .7) !important;
    display: none !important;
    width: 30px !important;
}
.video_next{
    z-index: 9999;
    position: absolute;
    top: 40% !important;
    height: 50px !important;
    right:0 !important;
    background: rgba(41, 48, 59, .7) !important;
    display: none !important;
    width: 30px !important;
}

.video-react:hover .video_prev, .video-react:hover  .video_next{
    display:inline !important;
}

.div_video_ghichu{
    height: auto;
    padding: 20px;
    background: #f3f3f3;
    border-bottom: 1px solid silver;
}