.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.btn_xemLoTrinh_designCode {
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(217, 223, 255) 100%);
  border: none;
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset,
    rgb(23 0 102 / 20%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 3px;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(217, 223, 255) 100%);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset,
    rgb(23 0 102 / 20%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 3px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn_xemLoTrinh_designCode:hover,
.shadow_designCode:hover {
  transform: translateY(-2px);

  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset,
    rgb(23 0 102 / 30%) 0px 40px 80px, rgb(0 0 0 / 30%) 0px 10px 30px;
}

.shadow_designCode {
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset,
    rgb(23 0 102 / 20%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 3px;
}

.loginBtn--facebook {
  background-color: #222260;
  background-image: linear-gradient(#222260, #222260);
  text-shadow: 0 -1px 0 #354c8c;
}

.loginBtn--facebook:before {
  border-right: #222260 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #222260;
  background-image: linear-gradient(#222260, #222260);
}

.article_content a {
  @apply text-blue-600;
}

.noiDung_QA h4 {
  @apply font-medium;
}

.blurry_text {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  color: transparent;
}

.ant-picker-cell::before {
  display: none !important;
}

.backgoundTemplate {
  /* background: url("/img/background.png"); */
}

.avatar-image {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header_theme .avatar-image {
  height: 55px;
  width: 55px;
}